body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #d9534f;
    margin-top: 10px;
}
.category {
    margin-top: 30px;
}
.category h2 {
    color: #5a5a5a;
    border-bottom: 2px solid #d9534f;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
.item:hover {
    background-color: #f8f8f8;
}
.item label {
    flex: 1;
    cursor: pointer;
}
.item input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}
.item input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.cart {
    margin-top: 30px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.total {
    font-weight: bold;
    margin-top: 10px;
}
.finalize {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.finalize input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.finalize input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}
.finalize button {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.finalize button:hover {
    background-color: #c9302c;
}